<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>sa</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <script type="text/javascript" src="{% static "js/jquery-3.5.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
</head>
<header>
    <a href="/sa">
        Главное меню
    </a>
</header>
<body>
<div class="create">
    <label>
        <span>ID Научной деятельности:</span>
        <input type="text" id="s_activity_id" placeholder="ID Научной деятельности...">
    </label>
    <label>
        <span>Имя:</span>
        <input type="text" id="name" placeholder="Имя...">
    </label>
    <label>
        <span>Фамилия:</span>
        <input type="text" id="surname" placeholder="Фамилия...">
    </label>
    <label>
        <span>График работы:</span>
        <select id="role">
            <option value="" disabled selected hidden label="Ставка">
            <option value="PART_TIME_TEACHER" label="Совместитель">
            <option value="FULL_TIME_TEACHER" label="Штатный">
       </select>
    </label>
    <input type="button" class="send" onclick="AddTeacher()" value="Добавить">
</div>
</body>
</html>