<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>sa</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
</head>
<body>
<div class="menu">
    <a style="background: #849fff;" href="s_activity">Добавить научную деятельность</a>
    <a style="background: #849fff;" href="s_activities">Показать направления научных деятельностей</a>
    <a style="background: #849fff;" href="s_activities_full">Показать научных руководителей</a>
    <a style="background: #849fff;" href="teacher">Добавить нового преподавателя</a>
    <a style="background: #849fff;" href="user">Добавить нового студента</a>
</div>
</body>
</html>